@import "style.css";
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Ubuntu:wght@300;500&family=Yanone+Kaffeesatz:wght@300&display=swap');


body, section#main {
    background-color: #d95b43;
}
    
nav {
    background-color: #d95b43;
}

.card {
    color: #d95b43;
    margin: 0 auto;
}

.card__text {
    color: rgb(49, 49, 49);
}

@keyframes move-left {
    0% {
        position: fixed;
        left: 20px;
    }
    25% {margin-top: 100px;}
    50% {margin-top: 200px;}
    75% {margin-top: 100px;}
    100% {margin-top: 0px;}
}