@import "style.css";
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Ubuntu:wght@300;500&family=Yanone+Kaffeesatz:wght@300&display=swap');

.card__text {
    letter-spacing: 1.5px;
}

.blog__card {
    border: 1px solid white;
}

@media screen and (max-width:1000px){
    .blog__card {
        border: none;
    }
}