// Styling based on BEM {}

.home {
    max-height: 100vh;
}

.center {
    display: block;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.card {
    padding: 15px 0;
    margin: 15px auto;

    //outline: 3px solid rgb(131, 126, 126);
    //background-color: rgb(4, 80, 94);
    width: 90%;

    font-family: Charcoal, sans-serif;
}

.card__image {
    max-width: 100%;
    max-height: 100vh;
}

.card__text, .card__title, .card__description {
    padding: 5px;
}

.card__text {
    font-size: medium;
}

.card__title {
    font-size: xx-large;
}

.card__description {
    font-size: medium;
}

.navbar {
    display: flex;
    flex-direction: row;
    margin: 10px 5px;
}

.navbar__link {
    height: 100px;
    width: 100px;
    display: flex;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}