#viewport {
    position: relative;
    width: 100%;
}

body {
    position: relative;
}

#container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    align-items: center;
    line-height: 100%;
}

img, .message {
    display: flex;
    max-height: 100vh;
    max-width: 100%;
    height: auto;
}

.message {
    font-size: 50px;
}